<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Receiters</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
  </head>
  <body>
    <h1>Receiters names</h1>
    <ul>
      <% reciters.forEach(reciter => { %>
      <li>
        <span>
          <strong><%= reciter.reciterName %></strong> – <%=
          reciter.reciterLocation %>
        </span>

        <span class="like-section">
          <%= reciter.likes %>
          <i
            class="fas fa-heart like-btn"
            style="color: red; margin-left: 10px; cursor: pointer"
            data-name="<%= reciter.reciterName %>"
            data-location="<%= reciter.reciterLocation %>"
            data-like="<%= reciter.likes %>"
            style="margin-left: 10px; cursor: pointer"
          ></i>
        </span>

        <span>
          <i
            class="fas fa-trash delete-btn"
            data-name="<%= reciter.reciterName %>"
            data-location="<%= reciter.reciterLocation %>"
            style="color: gray; margin-left: 10px; cursor: pointer"
            style="margin-left: 10px; cursor: pointer"
          ></i
        ></span>
      </li>
      <% }) %>
    </ul>
    <h4>Add Reciter:</h4>
    <form action="/reciters" method="post">
      <input type="text" placeholder="reciter name" name="reciterName" />
      <input
        type="text"
        placeholder="reciter location"
        name="reciterLocation"
      />
      <button type="submit">Submit</button>
    </form>
    <script src="/js/main.js"></script>
  </body>
</html>
